extends layout

block content
  div.container
    div.table
      table
        thead
          tr 
            th Node
            th Status
            th Event
            th Actions
        tbody#nodes 
      div.log
        p Log:
        pre#output
    div.table
      table
        thead
          tr 
            th Event
            th Time
            th Node
        tbody#events 
    div.status
      p Status:
      pre#serverconnection
      pre#deviceconnection
      input.text(
        type='text'
        name='cmd'
        id='cmdinput'
        placeholder='Send command'
      )
      button(type='button',id='sendbtn') Send